.card {
    border: 0px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
    -ms-box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
    border-radius: 15px;
    
    .card-body{
        padding: 15px;
    }
    .card-header {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px 15px 0 0;
        border:0;
        background-color: transparent;
    }

    .card-footer {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0 0 15px 15px;
        border:0;
        background-color: transparent;
    }
}
