/* background main */
$bg-main: #f0f3f7;
$bg-main-text: #666666;

/* background colors */
$bg-primary: #11cbc5;
$bg-primary-text: #ffffff;
$bg-secondary : #9381ff;
$bg-secondary-text: #ffffff;
$white: #fff;

/* default colors  */
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


/* Color pallet colors */
$bg-dark-blue: #122a73;
$bg-dark-purple: #491879;
$bg-maroon: #ad162b;
$bg-dark-grey: #475861;
$bg-dark-pink: #e92063;
$bg-brown: #795448;
$bg-green: #00b491;
$bg-red: #f94620;
$bg-pink: #e91e63;
$bg-purple: #6121d2;
$bg-blue: #143be0;
$bg-teal: #07beb8;
$bg-skyblue: #0faff7;
$bg-amber: #ffc107;
$bg-gray: #607d8b;
$bg-slat: #22262b;