html{
    height:100%;
}

body {
    /* Location of the image */
    background-image: url('../images/bg-ufabet.jpg');
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

.loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.input-group-append {
    margin-left: 0px;
    max-width: 39px;
}

.pull-right {
    float: right !important;
}

.img-center {
    margin: 0 auto;
    display: block;
}

.card-body img {
    position: relative;
    top: -30px;
}

.nav-link {

    display: block;
    padding: 5PX 7PX;
    font-size: 14px;
}

[input-type="money_decimal"] {
    text-align: right;
}

[input-type="money"] {
    text-align: right;
}

.btn {
    border-radius: 0;
}

.card-ufabet {
    background-color: black;
    color: #A38A60;
    border-color: #A38A60;
}

.card-ufabet a, a:hover, a:focus, a:active{
    color: #A38A60 !important;
}

a, a:hover, a:focus, a:active{
    color: #A38A60 !important;
}

.card-ufabet .card-header {
    background-color: #A38A60;
    color: black;
}

.stepwizard .btn-default {
    background-color: white;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    line-height: 13.428571;
    border-radius: 100%;
}

.bs-stepper .line, .bs-stepper-line {

    background-color: #d39e00 !important;
}

.content {
    display: block;
    height: auto;
    margin-bottom: 200px;
}

.btn-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-footer .btn {
    width: 100%;
}

.btn-footer .btn:first-child {

    border-radius: 10px 0px 0px;
}

.btn-footer .btn:last-child {
    border-radius: 0px 10px 0px 0px;
}

.btn-footer .btn {
    background-color: #464646;
    border: 0px;
    color: #A38A60;
}

.text-left {
    float: left !important;
}

.text-right {
    float: right !important;
}

.circle {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    border: 5px solid #A38A60;
}
  
.circle {
    padding: 50px;
    color: #A38A60;
}

.btn-deposit {
    position: absolute;
    top: 80%;
    right: 10%;
    padding: 18px;
    font-size: 22px;
    box-shadow: 2px 2px 20px black;
}

.btn-footer .btn i {
    font-size: 20px;
}

.btn-home {
    position: relative !important;
}

.btn-home i {
    background-color: #ffc107;
    color: black;
    position: absolute;
    top: -80%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    font-size: 30px !important;
    padding: 16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid black !important;
    z-index: 99;
    box-shadow: 2px 2px 20px black;
}

.btn-home span {
    padding-top: 20px;
}

.btn-menu {
    border: 1px solid #A38A60;
    border-radius: 50%;
    font-size: 22px;
    padding: 22px;
    background-color: transparent;
    color: #A38A60;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffc107;
}

.table thead th {
    color: white;
}