body  {
    /* width: 800px; */
    background: url(../images/line/BG1-01.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #111111;
}

/* .invalid-feedback {
    display: none !important;
} */

.img-center {
    display: block;
    margin: 0 auto;
}

.form-control:focus {
    color: white;
}

.pull-right {
    float: right !important;
}

.container {
    /* width: 600px; */
    margin: 0 auto;
}

.form {
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    padding: 10px;
}

.input-line {
    width: auto;
    padding: 5px;
    border-radius: 5px;
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border-image-slice: 1;
    box-shadow: none;
    border-style: solid;
    color: white;
}

.loading-overlay {
    background-color: black;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: 12.5px;
    color: white;
}

a:hover {
    color: lemonchiffon;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: orangered;
}